<p style="color: green"><%= notice %></p>


<div>

<p> Patient Name: <%= @patient.name %> <p>
<p> Patient ID: <%= @patient.id %> <p>
<p> Doctor ID: <%= @patient.doctor_id %> <p>
<p> Doctor Name:  <%= @patient.doctor.name %> <p>
</div>
<div>
  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>
  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>

